<h1>Xiangqi - <%= @title %></h1>
<div class="row-fluid">
    <div class="col-md-8 left-col">
        <div class="canvas">
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                </div>
            </div>
            <svg id="svg"></svg>
        </div>
    </div>
    <div class="col-md-4 bg-success right-panel">
        
    </div>
</div>

<script type="text/javascript" src="/Photon/3rdparty/swfobject.js"></script>
<script type="text/javascript" src="/Photon/3rdparty/web_socket.js"></script>
<script type="text/javascript" src="/Photon/Photon-Javascript_SDK.js"></script>
<script type="text/javascript">

var AppInfo = {
//  Wss: true,
    AppId: "<%= ENV['PHOTON_APP_ID'] %>",
    AppVersion: "1.0",
//    FbAppId: "you fb app id", 
}
</script>
<%= javascript_include_tag "xiangqi/game" %>
<%= javascript_include_tag "xiangqi/photon" %>

<script language="javascript">
    WEB_SOCKET_SWF_LOCATION = "/Photon/3rdparty/WebSocketMain.swf";
    // Set this to dump debug message from Flash to console.log:
    WEB_SOCKET_DEBUG = false;
</script>
<script type="text/jsx">

function renderMyRoomActors(actors) {
    var Factory = React.createFactory('RoomActors');
    var root = Factory({actors: actors})
    React.render(root, $('.actors')[0]);
}

</script>
<script language="javascript">
var photonClient;
var game;
var pieceClickSourceSubscriber, spotClickSourceSubscriber;
var Player = {
    nbr: 0,
    name: '<%= @ope %>' == 'init' ? 'Player A' : 'Player B',
    host: '<%= @ope %>' == 'init' ? true : false
};

function reset() {
    pieceClickSourceSubscriber.dispose();
    spotClickSourceSubscriber.dispose();
    data = getInitialPiece();
    $('.rect-piece').remove();
    drawPieces(svg);
    attachHandlers();
}


function renderScreen() {
    var state = game.getState();
    var Factory = React.createFactory(RightPanel);
    var root = Factory(state);
    React.render(root, $('.right-panel').get(0));
}

$(function(){

    var settings = {
        title: '<%= @title %>',
        name: '<%= @room.game_name %>',
        actorName: '<%= current_user.email %>',
        joinToken: <%= @room_user.join_token %>,
        ope: '<%= @ope %>',
        roomErrorUrl: '<%= games_room_error_path(@room.id) %>',
        initRoomUrl: '<%= games_room_init_path(@room.id) %>',
        lobbyUrl: '<%= games_xiangqi_index_path %>',
        canvasElement: '#svg'
    });
    

    game = new Game($('.left-col'), settings);
    game.startClient();
    setTimeout(function(){
        if (game.state.actors.length < 2) {
            game.goToLobby('No one joins your room, please host another table or join others');
        }
    }, 60000);

    renderScreen();
});
</script>