<div class="row-fluid clearfix">
  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
    <% @posts.each do |post| %>
      <div class="post" id='<%= post.id %>' >
        <div class="divider">
          ****
        </div>
        <%= render partial: 'posts/post', locals: { post: post } %>
      </div>
    <% end %>
    <div class="clearfix"></div>
  </div>

  <%= will_paginate $posts %>
</div>
<%= render 'shared/me'%>

<script type="text/javascript">
$(function(){
  <% if params[:read].nil? %>
    $('.post').dblclick(function(){
      handlePostSelect($(this));
    });
    $('.post').doubleTap(function(){
      handlePostSelect($(this));
    });
  <% end %>

  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });
  
  $container = $('#masonry-container');
  $container.masonry({
    itemSelector: '.post',
    gutter: 5
  });
  
  
  $container.infinitescroll({
    debug: true,
    navSelector  : 'ul.pagination',    // selector for the paged navigation 
    nextSelector : 'ul.pagination a[rel="next"]',  // selector for the NEXT link (to page 2)
    itemSelector : '#masonry-container .post',     // selector for all items you'll retrieve
    loading: {
        finishedMsg: 'No more pages to load.',
        img: 'http://i.imgur.com/6RMhx.gif'
      }
    },
    // trigger Masonry as a callback
    function( newElements ) {
      // hide new items while they are loading
      var $newElems = $( newElements ).css({ opacity: 0 });
      // ensure that images load before adding to masonry layout
      $newElems.imagesLoaded(function(){
        // show elems now they're ready
        $newElems.animate({ opacity: 1 });
        $container.masonry( 'appended', $newElems, true ); 
      });
    }
  );
});

(function($) {
     $.fn.doubleTap = function(doubleTapCallback) {
         return this.each(function(){
			var elm = this;
			var lastTap = 0;
			$(elm).bind('vmousedown', function (e) {
                                var now = (new Date()).valueOf();
				var diff = (now - lastTap);
                                lastTap = now ;
                                if (diff < 250) {
		                    if($.isFunction( doubleTapCallback ))
		                    {
		                       doubleTapCallback.call(elm);
		                    }
                                }      
			});
         });
    }
})(jQuery);


function handlePostSelect(post) {
  $.get('<%= read_posts_url %>',{id: post.attr('id') }, function(response){
    });
        fadeOutPost(post);
}

function fadeOutPost(post) {
    var top = post.position().top;
    var left = post.position().left;
    var height = post.height();
    var startH = top;
    post.fadeOut(400, function(){ 
      post.remove();
      findNearestDown(top, left, height, startH);
    });
}

function findNearestDown(currentTop, currentLeft, height, startH) {
  var count = 0;
  $('.post').each(function(i, v){
    var $this = $(v);
    var top = $this.position().top;
    var left = $this.position().left;
    var h = $this.height();
    if (left == currentLeft && top == currentTop + height) {
      $this.animate({
        top: startH
      }, {
        complete: function(){
          //alert(top + ' vs ' + h);
          startH += h;
          findNearestDown(top , left, h, startH);
        } 
      });  
    }
    
    //count the left equalities
    if (left == currentLeft) {
      count++;
    }
    
  });
  
  if (count == 0) {
    $('#masonry-container').masonry({
      itemSelector: '.post',
      gutter: 5,
      isAnimated: true,
      animationOptions: {
        duration: 750,
        easing: 'linear',
        queue: false
      }
    });
  }
}


</script>