<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
<% @posts.each do |post| %>
<div class="post" id='<%= post.id %>' >
  <%= raw post.body %>
  <div class="divider">
    ***
  </div>
</div>
<% end %>
<div class="clearfix"></div>
</div>

<%= will_paginate $posts %>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>

<script type="text/javascript">
$(function(){
  $('.post').dblclick(function(){
    handlePostSelect($(this));
  });
  $('.post').on('doubletap', function(){
    handlePostSelect($(this));
  });
});

function handlePostSelect(post) {
  $.get('<%= read_posts_url %>',{id: post.attr('id') }, function(response){
    });
        fadeOutPost(post);
}

function fadeOutPost(post) {
    var top = post.position().top;
    var left = post.position().left;
    var height = post.height();
    var startH = top;
    post.fadeOut(400, function(){ 
      post.remove();
      findNearestDown(top, left, height, startH);
    });
}

function findNearestDown(currentTop, currentLeft, height, startH) {
  $('.post').each(function(i, v){
    var $this = $(v);
    var top = $this.position().top;
    var left = $this.position().left;
    var h = $this.height();
    if (left == currentLeft && top == currentTop + height) {
      $this.animate({
        top: startH
      }, {
        complete: function(){
          //alert(top + ' vs ' + h);
          startH += h;
          findNearestDown(top , left, h, startH);
        } 
      });  
    }
  });
}


</script>